* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    margin: 0;
    background-color: #000000;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#bg {
  content: "";
  background-image: url('https://media1.tenor.com/images/1bffe9c5ae53c4d7395d90f4b5fa0efd/tenor.gif?itemid=16344067');
  background-position: center;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
}

h3 {    
    padding: 30px;
    text-align: center;
    font-size: 30px;
}

#container {
    color: #ffffff;
}

#container div {    
    padding: 10px;     
}

#quote-text {
    font-family: 'Major Mono Display', cursive;
    text-align: center;  
    justify-content: space-around;
    font-size: 50px;
}

#reactions {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    text-align: center; 
}

.emoji {
    font-size: 35px;
}

.app-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 35px;
  opacity: 0.5;
}

svg {
  width: 64px;
  height: 64px;
}

#contents{
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-content: center;
}

.todo-list {
  list-style: none;
}

.todo-item {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-item span {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px;
}

#todo-items-container {
  background-color: rgba(27, 27, 27, 0.1);
  height: 400px;
  overflow: scroll;
  overflow-x: hidden;    
  margin-bottom: 30px;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #303030;
}

.done span {
  text-decoration: line-through;
}

input[type="checkbox"] {
  display: none;
}

.tick {
  width: 30px;
  height: 30px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tick::before {
  color: #ffffff;
  content: '✓';
  font-size: 20px;
  display: none;
}

.done .tick::before {
  display: inline;
}

.delete-todo {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.delete-todo svg {
  width: 30px;
  height: 30px;
  pointer-events: none;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 3px solid #333;
}

#clear {
  visibility: hidden;
  width: 150px;
  background-color: #a00123; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#clear:hover {
  background-color: #fc0037; 
}

.empty-state {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

.checklist-icon {
  color: #ffffff;
  margin-bottom: 20px;
}

.empty-state__title, .empty-state__description {
  margin-bottom: 20px;
}

todo-list-items:empty {
  display: none;
}

.todo-list:empty + .empty-state {
  display: flex;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; 
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

